<ul class="list-group">
    <li class="list-group-item list-group-item-action flex-column align-items-start active bg-dark border border-white">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Comentarios para la cotización</h5>
        </div>
        <p class="mb-1">{{comentarios.0.accion}}</p>
        {{!-- COMENTAR --}}
        <p class="mb-1">
            <div class="container">
            <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample">
                Agregar comentario
            </button>
            </div>
        </p>
        {{!-- COLLAPSE --}}
        <div class="collapse" id="collapseExample">
            <div class="card card-body text-dark bg-secondary">
                {{!-- FORM COMENTAR --}}
                <form name="postComentario" id="comentar">
                    <div class="form-group">
                        <label for="tituloComentario">Título</label>
                        <input type="text" id="tituloComentario" class="form-control" placeholder="">
                        <label for="cuerpoComentario">Escriba un comentario</label>
                        <textarea class="form-control" id="cuerpoComentario" rows="3"></textarea>
                        <div class="container">
                            <button type="button" value="{{comentarios.0.id_accion}}" class="btn btn-primary btn-sm mb-2 postComentario" data-toggle="modal" data-target="#exampleModal">Agregar</button>
                        </div>
                        {{!-- <input type="hidden" id="id_accion" name="id_accion" value="{{comentarios.0.id_accion}}"> --}}
                    </div>
                </form>

            </div>
        </div>
        <small></small>
    </li>
    {{#each comentarios}}
    <li class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{titulo}}</h5>
            <small class="text-muted">Usuario: {{usuario}}</small>
        </div>
        <p class="mb-1">{{cuerpo}}</p>
        <small class="text-muted">Posteado el día: {{date}}</small>
        <div class="container">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" value="{{id_comentario}}" class="btn btn-outline-danger borrarComentario" data-toggle="modal" data-target="#exampleModal">Borrar</button>
        </div>
        </div>
    </li>
    {{/each}}
</ul>